input {
    padding: 12px 20px;
    margin: 8px 20px 8px 0;
    box-sizing: border-box;
    border-radius: 5px
}

.send {
    padding: 8px 20px;
    background-color: #2D2E2E;
    color: #ffffff;
    border: none;
}